@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg: #fcf5ed;
  --peach: #f4bf96;
  --black: #1f1717;
  --yellow: #f4e869;
  --oceanblue: #3085c3;
  --orange: #fc6736;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Loader*/
/* From Uiverse.io by mobinkakei */
.spinner-wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: orange;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/*Loader*/

/*navbar*/
.navbar {
  background-color: #f4bf96;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 95%;
  height: 15%;
  margin: 1rem auto;
  padding: 0;
  border-radius: 5px;
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
  font-size: 1.2rem;
}
/*navbar*/

a {
  font-weight: 500;
  color: pink;
  text-decoration: none;
  background-color: none;
}
a:hover {
  color: pink;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn {
  border: #1f1717 1px solid;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

img[alt="logo"] {
  width: 3rem;
}

/*navbar*/

/*HOME*/
#home {
  font-family: "Poppins", monospace;
  height: 100vh;
  padding-top: 8rem;
  background-color: var(--bg);

  & h2 {
    font-family: "Share Tech Mono", monospace;
    font-size: 2.3rem;
    text-align: center;
  }
}

img[alt="home-img"] {
  width: 16rem;
  border-radius: 100%;
  z-index: 1;
}

.home-hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  gap: 1rem;

  & p {
    text-align: center;
    margin: auto;
  }
}

.home-link {
  color: inherit;

  & svg {
    margin: auto;
  }
}

.home-info {
  display: flex;
  flex-direction: column;
}

/*image border*/
.cube {
  position: relative;
  width: 17.02rem;
  height: 17.02rem;

  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cube::before,
.blur::before {
  content: "";
  width: 140%;
  height: 200%;
  background: linear-gradient(
    var(--peach) 20%,
    transparent 45% 55%,
    var(--orange) 80%
  );
  position: absolute;
  animation: animate 6s infinite linear;
}
.cube::after {
  content: "";
  border-radius: 100%;
  position: absolute;
  inset: 2px;
  z-index: -1;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*image border*/

/*socials*/
/* From Uiverse.io by david-mohseni */
.wrapper {
  display: flex;
  flex-direction: row;
  padding: auto;

  list-style: none;
  height: 120px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: auto;
  width: 50px;
  height: 50px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedIn:hover,
.wrapper .linkedIn:hover .tooltip,
.wrapper .linkedIn:hover .tooltip::before {
  background: #0077b5;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #24292e;
  color: #fff;
}
/*socials*/

/*HOME*/

/* ABOUT */
#about {
  margin-top: 8rem;

  & h1 {
    font-family: "Share Tech Mono", monospace;
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
  }
}

img[alt="about-img"] {
  width: 15rem;
  margin: auto;
}

.about-text {
  padding: 2rem;
}

.about-hero {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.col-item {
  width: 50%;
  text-align: center;
}

.about-body{
  height: 100vh;
  /* width: 95vw; */
  margin: auto;
  background-color: var(--oceanblue);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;

  & h2{
    font-family: "Share Tech Mono", monospace;
    font-size: 3.2rem;
    text-align: center;
    padding: 2rem;
  }
}

.interest-container{
  display: flex;
  justify-content: space-evenly;
}





/* ABOUT */

/* PROJECTS */

#projects {
  margin-top: 8rem;
  & h1 {
    font-family: "Share Tech Mono", monospace;
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
  }
}

img[alt="project-img"]{
  width: 100%;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.card {
  --main-color: #000;
  --submain-color: #78858F;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}

.card__img {
  height: 192px;
  width: 100%;
}


.card__avatar {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: var(--bg);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 80px);
}

img[alt="lang-img"]{
  width: 100%;
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}
/* PROJECTS */

/*FOOTER*/
.footer {
  text-align: center;
  background-color: var(--yellow);
  /* margin-top: 2rem; */
  position: sticky;
  padding: 1.5rem;
  font-family: "Share Tech Mono", sans-serif;
  font-size: 1.2rem;
}
/*FOOTER*/

/*MEDIA QUERIES*/
/*mobile*/
@media screen and (max-width: 768px) {
  /**Home*/
  .home-hero {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: auto;

    & p {
      width: 90%;
    }
  }

  img[alt="home-img"] {
    width: 12rem;
    border-radius: 100%;
  }

  #home {
    padding-top: 6rem;

    & h2 {
      font-family: "Share Tech Mono", monospace;
      font-size: 2rem;
      text-align: center;
    }
  }

  .cube {
    width: 13.02rem;
    height: 13.02rem;
  }
  /**Home*/

  /**About*/
  .about-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .col-item {
    width: 95%;
    text-align: center;
  }

  .about-text {
    padding: 1rem;
  }

  #about {
    margin-top: 6rem;
  
    & h1 {
      font-family: "Share Tech Mono", monospace;
      font-size: 3.5rem;
      text-align: center;
      padding: 2rem 1.5rem;
    }
  }
  /**About*/
}
/*mobile*/
