@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg: #fcf5ed;
  --peach: #f4bf96;
  --black: #1f1717;
  --yellow: #f4e869;
  --oceanblue: #3085c3;
  --orange: #fc6736;
  --gray: #686d76;
}

/*scrollbar*/
/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 2rem;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--oceanblue);
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--oceanblue);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--oceanblue);
  border-radius: 10px;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--peach) var(--bg);
}

/*scrollbar*/

/*general*/
.divider {
  height: 2px;
  width: 30%;
  background-color: var(--orange);
  opacity: 0.8;
  margin: 1rem auto;
  border-radius: 5px;
}

.row {
  padding: 0;
  margin: 0;
  gap: 1.5rem;
}

li {
  list-style: none;
}

:is(#projects, #about, #contact, #education, #skills) {
  padding-top: 8rem;
  & h1 {
    font-family: "Share Tech Mono", monospace;
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
  }
}
/*general*/

/*Loader*/
/* From Uiverse.io by mobinkakei */
.spinner-wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: orange;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/*Loader*/

/*navbar*/
.navbar {
  background-color: #f4bf96;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 95%;
  height: 15%;
  margin: 1rem auto;
  padding: 0;
  border-radius: 5px;
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
  font-size: 1.2rem;
}
/*navbar*/

a {
  font-weight: 500;
  color: pink;
  text-decoration: none;
  background-color: none;
}
a:hover {
  color: pink;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

.btn {
  border: #1f1717 1px solid;
}

img[alt="logo"] {
  width: 3rem;
}

/*navbar*/

/*HOME*/
#home {
  font-family: "Poppins", monospace;
  height: 100vh;
  padding-top: 8rem;
  background-color: var(--bg);

  & h2 {
    font-family: "Share Tech Mono", monospace;
    font-size: 2.3rem;
    text-align: center;
  }
}

img[alt="home-img"] {
  width: 16rem;
  border-radius: 100%;
  z-index: 1;
}

.home-hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  padding-top: 4rem;
  gap: 1rem;

  & p {
    text-align: center;
    margin: auto;
  }
}

.home-link {
  color: inherit;

  & svg {
    margin: auto;
  }
}

.home-info {
  display: flex;
  flex-direction: column;
}

/*image border*/
.cube {
  position: relative;
  width: 17.02rem;
  height: 17.02rem;

  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cube::before,
.blur::before {
  content: "";
  width: 140%;
  height: 200%;
  background: linear-gradient(
    var(--peach) 20%,
    transparent 45% 55%,
    var(--orange) 80%
  );
  position: absolute;
  animation: animate 6s infinite linear;
}
.cube::after {
  content: "";
  border-radius: 100%;
  position: absolute;
  inset: 2px;
  z-index: -1;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*image border*/

/*socials*/
/* From Uiverse.io by david-mohseni */
.social-wrapper {
  display: flex;
  flex-direction: row;
  padding: auto;

  list-style: none;
  height: 120px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.social-wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: auto;
  width: 50px;
  height: 50px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.social-wrapper .icon:hover span,
.social-wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.social-wrapper .linkedIn:hover,
.social-wrapper .linkedIn:hover .tooltip,
.social-wrapper .linkedIn:hover .tooltip::before {
  background: #0077b5;
  color: #fff;
}

.social-wrapper .github:hover,
.social-wrapper .github:hover .tooltip,
.social-wrapper .github:hover .tooltip::before {
  background: #24292e;
  color: #fff;
}
/*socials*/

/*HOME*/

/* ABOUT */
img[alt="about-img"] {
  width: 15rem;
  margin: auto;
}

.about-text {
  padding: 2rem;
}

.about-hero {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.col-item {
  width: 50%;
  text-align: center;
}

.about-body {
  height: 100vh;
  margin: auto;
  /* background-color: var(--oceanblue);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px; */

  & h2 {
    font-family: "Share Tech Mono", monospace;
    font-size: 3.2rem;
    text-align: center;
    padding: 2rem;
  }
}

.interest-container {
  display: flex;
  justify-content: space-evenly;
}

.interest-card {
  overflow: visible;
  width: 190px;
  height: 200px;
}

.pin {
  width: 9px;
  margin-right: 0.5rem;
  height: auto;
  transform: rotate(35deg);
  color: var(--oceanblue);
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #ff9966,
    #ff9966,
    #ff9966,
    #ff9966,
    transparent
  );
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.interest-card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  height: 100%;
}

.title {
  font-size: 0.9rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
/* ABOUT */

/* PROJECTS */
img[alt="project-img"] {
  width: 100%;
}

.project-card {
  width: 21rem;
  height: 14rem;
  border-radius: 10px;
  background-color: var(--bg);
  padding: 0;
  margin: auto;
}

.project-image {
  width: 100%;
  height: 70%;
}

.project-description {
  border-radius: 10px;
}

.project-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* From Uiverse.io by CYBWEBALI */
.github-btn {
  display: grid;
  place-items: center;
  background: var(--bg);
  padding: 0.3rem;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px var(--bg);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
  margin: 1rem;
}

.github-btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px var(--bg), -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.github-btn svg {
  transition: transform 0.5s;
  fill: var(--orange);
}

.github-btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}

/* PROJECTS */

/* CONTACT */
#contact {
  height: 80vh;
}
/* From Uiverse.io by G4b413l */
.group {
  position: relative;
  margin: 2rem;
}

.input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  height: 3rem;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ label,
.input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

.bar {
  position: relative;
  display: block;
  width: 200px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }

  to {
    width: 0;
    background: transparent;
  }
}

/* From Uiverse.io by StarMarketPros */
.wrapper {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}
/* switch card */

.card-side::before {
  content: "Log in";
  left: -70px;
  top: 0;
  width: 100px;
  text-decoration: underline;
  color: var(--font-color);
  font-weight: 600;
}

.card-side::after {
  position: absolute;
  content: "Sign up";
  left: 70px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

/* card */

.flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  /* width: 100%;
    height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}

.flip-card__front,
.flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: lightgrey;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}
/* CONTACT */

/*RESUME*/
img[alt="edu-img"] {
  width: 8rem;
}

/* From Uiverse.io by Prince4fff */
.edu-card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.edu-card p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--oceanblue);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 262px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: #f2f8f9; */
  border-radius: 4px;
  padding: 32px 24px;
  margin: auto;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: var(--oceanblue);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card2:hover:before {
  transform: scale(2.15);
}

.card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card3 .go-corner {
  opacity: 0.7;
}

.card3:hover {
  border: 1px solid var(--oceanblue);
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card3:hover p {
  color: var(--oceanblue);
}

.card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card4 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card4 .go-corner {
  background-color: var(--oceanblue);
  height: 100%;
  width: 16px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.card4 .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.card4:hover {
  border: 1px solid #cd3d73;
}

.card4 h3 {
  margin-top: 8px;
}

.card4:hover .go-corner {
  margin-right: -12px;
}

.card4:hover .go-arrow {
  opacity: 1;
}

/*skills*/
@-webkit-keyframes spin-icon {
  100% {
    background-position: -44px 0;
  }
}

@keyframes spin-icon {
  100% {
    background-position: -44px 0;
  }
}

@-webkit-keyframes float-icon {
  100% {
    transform: translateY(-10px);
  }
}

@keyframes float-icon {
  100% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes float-icon-shadow {
  100% {
    transform: scale(0.85, 0.85) translateY(10px);
  }
}

@keyframes float-icon-shadow {
  100% {
    transform: scale(0.85, 0.85) translateY(10px);
  }
}

.skill-card {
  margin: 1rem auto;
}

img[alt="skill-img"] {
  width: 5rem;
  margin: auto;
}

.skillIcon {
  width: 5rem;
  height: 5rem;
  margin: auto;
  background: inherit;
  border-radius: 50%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: spin-icon 2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
      infinite,
    float-icon 1s ease infinite alternate;
  animation: spin-icon 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite,
    float-icon 1s ease infinite alternate;
}

.skillIcon::before {
  content: "";
  width: 50px;
  height: 10px;
  margin-left: -25px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-animation: float-icon-shadow 1s ease infinite alternate;
  animation: float-icon-shadow 1s ease infinite alternate;
}

.skill-text {
  height: 15rem;
  overflow-y: auto;
  margin-bottom: 1rem;
}

/* .skill-container{
  display: grid;
} */

/*skills*/
/*RESUME*/

/*FOOTER*/
.footer {
  text-align: center;
  background-color: var(--yellow);
  /* margin-top: 2rem; */
  position: sticky;
  padding: 1.5rem;
  font-family: "Share Tech Mono", sans-serif;
  font-size: 1.2rem;
}
/*FOOTER*/

/*MEDIA QUERIES*/
/*mobile*/
@media screen and (max-width: 768px) {
  /**Home*/
  .home-hero {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: auto;

    & p {
      width: 90%;
    }
  }

  img[alt="home-img"] {
    width: 12rem;
    border-radius: 100%;
  }

  #home {
    padding-top: 6rem;

    & h2 {
      font-family: "Share Tech Mono", monospace;
      font-size: 2rem;
      text-align: center;
    }
  }

  .cube {
    width: 13.02rem;
    height: 13.02rem;
  }
  /**Home*/

  /**About*/
  .about-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .col-item {
    width: 95%;
    text-align: center;
  }

  .about-text {
    padding: 1rem;
  }

  #about {
    margin-top: 6rem;

    & h1 {
      font-family: "Share Tech Mono", monospace;
      font-size: 3.5rem;
      text-align: center;
      padding: 2rem 1.5rem;
    }
  }
  /**About*/

  /*PROJECTS*/
  #projects {
    & h1 {
      font-family: "Share Tech Mono", monospace;
      font-size: 3rem;
      text-align: center;
      padding-top: 7rem;
    }
  }

  .fine-text {
    color: var(--gray);
    opacity: 0.5;
  }

  .project-card {
    width: 17.2rem;
    /* height: 14rem; */
    margin: auto;
    border-radius: 10px;
    background-color: var(--bg);
    padding: 0;
  }

  .project-image {
    width: 100%;
    height: 70%;
  }

  .project-description {
    border-radius: 10px;
  }
  /*PROJECTS*/

  /*SKILLS*/
  /* .skill-card{
    width: 70%;
    margin-bottom: 2.5rem;
  } */

  :is(#skills, #education) {
    & h1 {
      font-family: "Share Tech Mono", monospace;
      font-size: 3rem;
      text-align: center;
    }
  }

  #skills{
    margin-bottom: 6rem;
  }
  /*SKILLS*/
}
/*mobile*/
